<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>{{ "Hello World!" }}</h1>
    <ul>
    {% for i in 1..10 %}
        <li class="{{ cycle(['odd', 'even'], i) }}">{{ "My name is Gokhan" }}</li>
    {% endfor %}
    </ul>
</body>
</html>