<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>{{ "Hello World!" }}</h1>
    <p>{{ app.request.method }}</p>
    <p>{{ app.environment }}</p>
    <p>{{ app.request.get('page') }}</p>
    <ul>
    {% for i in 0..page - 1 %}
        <li class="{{ cycle(['odd', 'even'], i) }}">{{ "My name is Gokhan" }} {{ i }}</li>
    {% endfor %}
    </ul>
</body>
</html>